.board-main-body{
    background: rgba(255, 255, 255, 0.6);
    height: 90vh;
    border-radius: 5px;
}

.list-row{
    display: flex;
    padding: 5px;
    overflow: auto;
}

.new-list-btn{
    margin: 5px;
}