<mat-card *ngIf="item" class="board-item-body">

    <div>
        <mat-icon aria-hidden="false" class="info-icon" aria-label="Info icon" (click)="openInfo($event)">info</mat-icon>
        <mat-icon aria-hidden="false" class="edit-icon" aria-label="Edit icon" (click)="openEdit($event)">edit</mat-icon>
    </div>
    

    <mat-card-subtitle>
        {{item.name}}
    </mat-card-subtitle>

    <mat-card-content>
        {{item.description}}
    </mat-card-content>
  
    <mat-card-actions>
        <a routerLink="/board/{{item.id}}"><button mat-raised-button color="primary">Show</button></a>
        
        <button mat-raised-button color="secondary" (click)="deleteBoard($event)">Delete</button>
    </mat-card-actions>
</mat-card>
