<h1 mat-dialog-title>Add new board</h1>
<div mat-dialog-content>

    <form class="new-board-form">
        <mat-form-field appearance="fill">
          <mat-label>Todo name</mat-label>
          <input matInput [(ngModel)]="fields.name" name="name" >
        </mat-form-field>
      
        <br>

        <mat-form-field appearance="fill">
          <mat-label>Description</mat-label>
          <textarea matInput [(ngModel)]="fields.description" name="description"></textarea>
        </mat-form-field>
      </form>

</div>
<div mat-dialog-actions>
<button mat-raised-button color="primary" (click)="closeWithResult()">{{fields.modify ? 'Edit': 'Add'}}</button>
  <button mat-raised-button mat-dialog-close color="secondary">Close</button>
</div>
