

<mat-card *ngIf="list" [id]="uniqId" cdkDropList [cdkDropListData]="todoList" (cdkDropListDropped)="drop($event)">

    <div>
        Name: {{list.name}}
    </div>

    <div>
        <mat-icon aria-hidden="false" aria-label="add icon" class="icon" (click)="openNewTodoDialog($event)">add_circle_outline</mat-icon>
        <mat-icon aria-hidden="false" aria-label="add icon" class="icon"  (click)="deleteList($event)">delete</mat-icon>
        <mat-icon aria-hidden="false" aria-label="add icon" class="icon" (click)="modifyListDialog($event,list)"  >edit</mat-icon>
    </div>

    <mat-card-content  >
        <div *ngFor="let todo of list.todos" >
            <app-todo-item [id]="todo.id" [inputTodo]="todo" cdkDrag></app-todo-item>
        </div>
    </mat-card-content>
</mat-card>