

<mat-card *ngIf="list" [id]="uniqId" cdkDropList [cdkDropListData]="todoList" (cdkDropListDropped)="drop($event)">

    <div>
        Name: {{list.name}} ({{listId}}) {{uniqId}}
    </div>

    <div>
        <mat-icon aria-hidden="false" aria-label="add icon" (click)="openNewTodoDialog()">add_circle_outline</mat-icon>
    </div>

    <mat-card-content  >
        <div *ngFor="let todoId of list.todoIds" >
            <app-todo-item [todoId]="todoId" cdkDrag></app-todo-item>
        </div>
    </mat-card-content>
</mat-card>